@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

:root {
    --background-color: #fff;
    --text-color: #000;
    --poly-bg: #000;
    --bulb-color:#000;
    --bulb-figure:block;

}

body.dark {
    --background-color: #000000;
    --text-color: #fff;
    --poly-bg: #fff;
    --bulb-color:#000;
    --bulb-figure:none;
}

body {
    background: var(--background-color) !important;
    transition: .6s;
}


.fa-lightbulb-o {
   
    position: fixed;
    bottom: 6%;
    right: 6%;
    color: var(--bulb-color) !important;
    -webkit-animation-duration: 1s !important;
    -webkit-animation-delay: .4s;
    -webkit-animation-iteration-count: 1;
    font-size: 52px !important;
    display: var(--bulb-figure) !important;
   
}

.fa-lightbulb-o:hover {
    cursor: pointer !important;
    transition: .1s !important;
}

.blm {
    font-size: 30px;
    text-align: center;
    color: #fff;
    transition: .6s;
   font-family: Raleway, sans-serif;
    z-index: 9999;

}


.header {
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40%;
}