@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

:root {
    --background-color: #000;
    --text-color: #000;
    --poly-bg: #000;
    --bulb-color:#000;
    --bulb-figure:block;

}


body {
    background: var(--background-color) !important;
    transition: .6s;
}


.blm {
    font-size: 100px;
    color: #3e3e3e;
    font-family: Raleway, sans-serif;
    z-index: 9999;

}


.header {
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50%;
}

@media screen and (max-width: 990px){
    .blm{
        font-size: 31px;
    }
    
}