/*
CSS INDEX 
------------
1. Imports 
2. Fundamentals
3. Clip Art
4. Table/Modals, RD,GR,YW buttons, etc
5. Navbar & Apple Icon 
6. Folders, Folder Container, Dragging
7. Form Login CSS
8. Ability User to change BG
9. Icon Images
10. Media Queries
------------
*/

/*** 1. IMPORTS ***/
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

/*** 2. FUNDAMENTALS ***/
:root {
    --background: url("/images/mountains.jpg");
    --text-color: #fff;
    --font-size: 13px;
    --logo: url("/images/apple-c-icon.png");
    --font-family: "Rubik", sans-serif;
}

html,
body {
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

a {
    text-decoration: none !important;
}

body {
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: var(--background);
    color: var(--text-color) !important;
    font-family: var(--font-family) !important;
}

p {
    font-size: var(--font-size);
    font-family: var(--font-family) !important;
    text-align: center;
    padding-top: 5px;
    color: var(--text-color) !important;
}

table {
    width: 100%;
    font-size: var(--font-size);
    color: var(--text-color) !important;
}

th {
    background-color: rgba(0, 0, 0, 0.35) !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.459);
    color: var(--text-color) !important;
    border-right: 1px solid rgba(128, 128, 128, 0.459);
}

th:hover {
    cursor: default;
}

td,
th {
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 1px;
}

/*** 3. CLIP ART ***/
#clipAlert {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clipAlert p {
    width: 150px;
    height: 40px;
    top: 6%;
    left: 0%;
    padding: 5px;
    position: fixed;
    color: var(--text-color) !important;
    text-shadow: 1px 1px 1px black;
}

/*** 4. TABLE/MODAL/NOTIFICATION Styles (includes modal, buttons, content within modals) ***/
.notification {
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 340px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-background-filter: blur(10px);
    z-index: 99999999;
    height: 105px;
    border-radius: 8px;
    animation: fadeInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
    display: none;
    transition: .2s;
}

.notification:hover {
    cursor: pointer;
    opacity: .85;
    transition: .2s;
}

.notification header {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.notification header span {
    text-align: left;
    font-size: 13px;
    padding-left: 5px;
    color: #eee;
}

.notification h5 {
    text-align: left;
    font-size: 14px;
    padding: 5px 0px 0px 10px;
    color: #fff;
    font-weight: bold;
}

.notification p {
    text-align: left;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    color: #eee;
    white-space: pre-wrap;
}

.notification .time {
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 12px;
    color: #eee;
}

.notification .closed {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
    width: 16px;
    border-radius: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color: #eee;
    transition: .2s;
    border: 1px solid rgba(244, 244, 244, 0.3);
    z-index: 99999999999;
}

.notification .closed:hover {
    opacity: .6;
    cursor: pointer;
    transition: .2s;
}

.dark-table {
    background-color: #332c2a;
    color: var(--text-color) !important;
}

.light-light {
    background: #333333;
    color: var(--text-color) !important;
}

.dark-table:hover,
.light-light:hover {
    background: rgba(21, 109, 215, 0.8);
}

.modal {
    cursor: crosshair;
    width: 100%;
    z-index: 999999;

}

.modal-backdrop.show {
    opacity: 0.2;
}

.modal-body {
    background: rgba(0, 0, 0, 0.8);
    border: 0px;
    cursor: pointer;
    padding: 0px;
    overflow-y: scroll;
    height: 530px;
}

.modal-content {
    border: 0px;
    cursor: pointer;

}

.modal-header {
    background: rgba(0, 0, 0, 0.75);
    border: 0px;
    cursor: default;
    height: 40px;
}

.modal-folder-heading {
    position: absolute;
    font-size: 13px;
    left: 50%;
    top: 2%;
    transform: translate(-50%, 1%);

}

.modal-folder-heading img {
    max-width: 20px;
    margin-top: -5px;
}

.about-me-modal p,
.about-me-modal h2,
.about-me-modal h3,
.about-me-modal h4,
.about-me-modal h5,
.about-me-modal h6 {
    text-align: left;
    margin: 10px;
}

.about-me-modal img {
    margin: 10px;
}

.cursive {
    font-family: "Italianno", cursive !important;
    font-size: 30px;
    letter-spacing: 1px;
}

.green-button,
.yellow-button,
.red-button {
    width: 11px;
    height: 11px;
    margin: 5px 0px 5px 0px;
    border-radius: 100px;
    position: absolute;
    cursor: pointer;
}

.green-button {
    background-color: #72be47;
    top: 2%;
    left: 50px;
}

.yellow-button {
    background-color: #e0c04c;
    top: 2%;
    left: 30px;
}

.red-button {
    background-color: #ed655a;
    top: 2%;
    left: 10px;
}

.green-button:hover,
.yellow-button:hover,
.red-button:hover {
    opacity: 0.7;
}

.green-button:after {
    content: "\2B0C";
    /* This will render the '' */
    color: rgba(0, 0, 0, 0.4);
    top: -45%;
    left: 4%;
    transform: rotate(-25deg);
    position: absolute;
    font-size: 13px;
    visibility: hidden;
}

.yellow-button:after {
    content: "\2212";
    /* This will render the '-' */
    color: rgba(0, 0, 0, 0.4);
    top: -5.5px;
    left: 1.4px;
    position: absolute;
    font-size: 13px;
    visibility: hidden;
}

.red-button:after {
    content: "\00d7";
    /* This will render the 'X' */
    color: rgba(0, 0, 0, 0.5);
    top: -5.5px;
    left: 1.4px;
    position: absolute;
    font-size: 13px;
}

.me {
    border-radius: 100px;

}

.hobbies {
    width: 100%;
}

.hobbies p {
    background: rgba(0, 0, 0, 0.25);
    padding: .8em;
    text-align: center;
    color: var(--text-color);
    border-radius: 4px;
    font-size: 11px;
    margin: 0px -9px 5px 10px;
    display: inline-block;
}

.progress {
    margin: -5px 10px -5px 10px;
    background: transparent;
    border: none !important;
    padding: 0px;
    height: 4px;
}

.progress-html {
    width: 100%;
    border-radius: 4px;
}

.progress-css {
    width: 100%;
    border-radius: 4px;
}

.progress-js {
    width: 90%;
    border-radius: 4px;
}

.progress-adobe {
    width: 85%;
    border-radius: 4px;
}

.progress-react {
    width: 64%;
    border-radius: 4px;
}

.progress-backend {
    width: 38%;
    border-radius: 4px;
}

.line-white {
    background: #717171b0;
    width: 80%;
    margin-left: 10px;
    height: 1px;
    border-radius: 10px;
}

/*** 5. Navbar & Apple Icon ***/

.fa {
    margin-left: 15px;
    padding: 5px 7px 5px 7px;
}

.fa:hover {
    background: rgba(21, 109, 215, 0.8);
    padding: 5px 7px 5px 7px;
    border-radius: 4px;
}

.apple-logo {
    width: 15px;
    /*content: var(--logo);*/
}

.phone {
    filter: blur(3px);
}

.navbar {
    background: rgba(0, 0, 0, 0.4);
    height: 2rem;
    color: var(--text-color) !important;
    visibility: hidden;
}

.nav-link {
    margin-left: 5px;
    margin-right: 0px;
    font-size: var(--font-size);
    color: var(--text-color) !important;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link:focus {
    background: rgba(21, 109, 215, 0.8) !important;
    height: 2rem;
    cursor: pointer;
}

.dropdown-item {
    font-size: var(--font-size);
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    color: var(--text-color) !important;
}

.dropdown-item:hover {
    background: rgba(21, 109, 215, 0.8);
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--text-color) !important;
}

/*** 6. Folders, Folder Container, Dragging ***/
.folder-container-1 {
    width: 78px;
    position: absolute;
    right: 30px;
    top: 12%;
    cursor: pointer;
    display: none;
}

.folder-container-2 {
    width: 78px;
    position: absolute;
    right: 150px;
    top: 11%;
    cursor: pointer;
    display: none;
}


#folders {
    width: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#folders:active {
    opacity: 0.7;
    transform: rotate(4deg);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid grey;
}

.resize-drag {
    /* This makes things *much* easier */
    box-sizing: border-box;
    touch-action: none !important;
    user-select: none !important;
}

.resize-container {
    width: 100%;
    height: 240px;
}

/*** 7. Form Login CSS ***/
.form-container {
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
    -o-background-filter: blur(7px);
}

.form-signin {
    width: 100%;
    max-width: 390px;
    padding: 15px;
    position: relative;
    margin: 0 auto;
    top: 20%;
    z-index: 999999;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    z-index: 999999;
}

.form-signin .form-control:focus {
    z-index: 2;
}

input[type="text"],
textarea {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;

}

#submit {
    background: rgba(244, 244, 244, 0.9);
    color: rgb(142, 142, 142);
    border: 0px;
}

#submit:hover {
    background: rgba(244, 244, 244, 1);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(244, 244, 244, .7) !important;
    opacity: 1 !important;
    /* Firefox */
}

/*
.skip {
  background: transparent !important;
  padding-top: 25px;
  font-size: 15px;
  transition: 0.2s;
  text-align: center;
}
.skip:hover {
  transform: scale(1.07);
  cursor: pointer;
}*/
.skip-info {
    background: rgba(0, 0, 0, 0.2) !important;
    margin-top: 30px;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

/*** 8. Ability User to change BG ***/
#bg-container {
    width: 100%;
    background: rgba(0, 0, 0, 0) !important;
    margin: 0px;
    padding: 0px;
}

#bg-container img {
    width: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 100%;
    height: 65px;
    transition: 0.3s;

}

#bg-img-1 {
    width: 100%;
    background: rgba(0, 0, 0, 0.2) !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 100%;
    height: 65px;
    transition: 0.3s;

}

#bg-container img:hover,
#bg-img-1:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
    opacity: .7;

}

.plus {
    font-size: 25px;
    text-shadow: 1px 0px 2px black;
    position: absolute;
    right: 22px;
    bottom: 40px;
    z-index: 999999;
    display: none;
}

.plus:hover {
    cursor: pointer;
}

/*** 9. Icon Images ***/
.search {
    display: none;
}

.fa-battery-full span {
    font-family: arial !important;
    font-weight: bold;
}

.fa-battery-half span {
    font-family: arial !important;
    font-weight: bold;
}

.fa-battery-quarter {
    color: #ff6e68 !important;
}

.fa-battery-quarter span {
    font-family: arial !important;
    font-weight: bold;
    color: #ff6e68 !important;
}

/*** 10. Media Querey 1 handling width of 870px or less ***/
@media only screen and (max-width: 870px) {
    table {
        font-size: 10px;
    }

    .notification {
        bottom: 95px;
    }

    .notification header span {
        font-size: 13px;
    }

    .notification h5 {
        font-size: 13px;
    }

    .notification p {
        font-size: 11px;
    }

    .bluetooth,
    .wifi,
    .battery,
    .search,
    .date,
    .username {
        position: fixed;
        bottom: 2%;
    }

    .mobile-fade {
        display: block;
        background-image: linear-gradient(to bottom, transparent, black);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0px;
        margin: 0px;
        left: 0;
        height: 90px;
        z-index: -1;
    }

    .bluetooth {
        left: 5%;
    }

    .wifi {
        left: 15%;
    }

    .battery {
        left: 25%;
    }

    .search {
        left: 40%;
        display: none;
    }

    .date {
        right: 5%;
        padding: 5px 0px 0px 0px;
        margin: 0px;
    }

    .username {
        right: 5%;
        bottom: 6%;
        padding: 5px 0px 0px 0px;
        margin: 0px;
    }

    .form-signin {
        top: 10%;
    }

    html {
        overflow-y: visible !important;
    }
}